{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if validlink %}
       <div class="StaticForm">
            <h2 class="StaticForm__header">Enter Your New Password</h2>
           <h5 class="StaticForm__subheader">
               Please enter your new password twice so we can verify you typed it in correctly.
           </h5>
            <div class="StaticForm__inner">
                <form  method="post">
                    {% csrf_token %}
                    <div class="StaticForm__input">
                        <p class="StaticForm__label">New Password</p>
                        {{ form.new_password1 }}
                    </div>
                    <div class="StaticForm__input">
                        <p class="StaticForm__label">Confirm Password</p>
                        {{ form.new_password2 }}
                    </div>
                        <div class="StaticForm__footer">
                            <input class="StaticForm__button" type="submit" value="Submit">
                            <div class="StaticForm__errors">
                                    {% if form.errors %}
                                        {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                        {% endfor %}
                                    {% endif %}
                            </div>
                        </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="StaticForm">
            <h2 class="StaticForm__header">Whoops!</h2>
           <h5 class="StaticForm__subheader">
               The password reset link was invalid, possibly because it has already been used.
               Please request a new password reset link <strong><a href="{% url 'password_reset' %}">here</a></strong>.
           </h5>
        </div>
    {% endif %}
{% endblock content %}
