{% extends 'base.html' %}
{% load static %}

{% block content %}
   <div class="StaticForm">
        <h2 class="StaticForm__header">Forgot your password?</h2>
       <h5 class="StaticForm__subheader">Enter your email below to recover your account</h5>
        <div class="StaticForm__inner">
            <form  method="post">
                {% csrf_token %}
                <div class="StaticForm__input">
                    <p class="StaticForm__label">Email</p>
                    {{ form.email }}
                </div>
                    <div class="StaticForm__footer">
                        <ul class="StaticForm__link-list">
                            <li><a href="/onboarding/">Don't have an account? Sign up <b>here</b></a></li>
                            <li><a href="{% url 'login' %}">Back to you login page</a></li>
                        </ul>
                        <input class="StaticForm__button" type="submit" value="Submit">
                        <div class="StaticForm__errors">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
            </form>
        </div>
    </div>
{% endblock content %}
