<footer class="text-white pt-5 pe-0 ps-0" id='site-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 col-sm-6 site-footer__item'>
        <div class="site-footer__svg pb-4">
          <svg width="27" height="36" viewBox="0 0 27 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.214844 8.44423H9.34177V36.0001H17.5264V8.44423H26.6533V0.847168H0.214844V8.44423Z" fill="#FFFCF2"></path>
          </svg>
          <svg width="10" height="36" viewBox="0 0 10 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.1069 0.847168H0.949219V36.0001H9.1069V0.847168Z" fill="#FFFCF2"></path>
          </svg>
          <svg width="27" height="36" viewBox="0 0 27 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.7767 0.0263672C10.0613 0.0263672 6.69594 1.32342 4.29978 3.70578C1.93055 6.03519 0.611328 9.34401 0.611328 12.9705V35.9999H8.76902V12.8381C8.76902 9.7146 10.5998 7.9146 13.7767 7.9146C16.9806 7.9146 18.8382 9.7146 18.8382 12.8381V35.9999H26.9959V12.9705C26.9959 9.31754 25.6767 6.03519 23.3075 3.70578C20.9113 1.32342 17.519 0.0263672 13.7767 0.0263672Z" fill="#FFFCF2"></path>
          </svg>
          <svg width="27" height="36" viewBox="0 0 27 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.6527 11.0913C18.6527 14.2148 16.8219 16.0148 13.645 16.0148C10.4142 16.0148 8.63731 14.2678 8.63731 11.0913V0.847168H0.425781V10.9325C0.425781 14.6119 1.74501 17.9207 4.11424 20.2501C5.59501 21.706 7.4527 22.7648 9.52577 23.3472V36.0001H17.7373V23.3736C19.7834 22.7913 21.6411 21.7325 23.1488 20.2766C25.5181 17.9472 26.8373 14.6383 26.8373 10.9589V0.87364H18.6527V11.0913Z" fill="#FFFCF2"></path>
          </svg>
        </div>

        <div class=row>
          <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
            <ul class="list-unstyled mb-0 text-uppercase fs-6">
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/collections/menu" class="text-white">Our Meals</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/pages/why-tiny" class="text-white">Why Tiny</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/pages/faqs" class="text-white">FAQ</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/blogs/tinyblog" class="text-white">Blog</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/products/tiny-gift-box" class="text-white">Gift</a>
              </li>
            </ul>
          </div>
          <div class='col-6 col-sm-6 col-md-4 col-lg-4'>
            <ul class="list-unstyled mb-0 text-uppercase">
              <li class='site-footer_links'>
                <a href="https://www.subscriptions.tinyorganics.com/new-onboarding" class="text-white">Getting Started</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/pages/contact-us" class="text-white">Contact Us</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/pages/mission" class="text-white">Our Mission</a>
              </li>
              <li class='site-footer_links'>
                <a href="https://www.tinyorganics.com/pages/our-story" class="text-white">Our Story</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-12 col-sm-6 col-md-5 col-lg-5 col-xl-4 col-xxl-4'>
        <form action="">
        <!--Grid row-->
          <div class="row d-flex">
            <!--Grid column-->
            <div class="col-8 col-sm-12">
              <p class="h3 site-footer__newsletter_heading">Get tiny updates, early access to new meals, and more.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-8 col-sm-12 col-lg-10">
              <!-- Email input -->
              <div class="form-outline form-white mb-4 site-footer__newsletter_email">
                <input type="email" id="form5Example21" class="form-control" placeholder="Email address" aria-label="Email address" aria-required="true" required="true"s />
              </div>
            
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->

          <div class='row'>
            <!--Grid column-->
            <div class="col-12 col-sm-12">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
              
            </div>
            <!--Grid column-->
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Grid container -->
  <div class="container p-4 text-center">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/tinyorganicsmeals/" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/tiny_organics" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/tinyorganics/" role="button"><i class="fab fa-instagram"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <small class='site-footer__copyright-content'>
      © Tiny Organics Inc. All Rights Reserved.
      <a class="site-footer_privacy-terms" href="/pages/privacy-policy">Privacy Policy</a>
      <a class="site-footer_privacy-terms" href="/pages/terms-and-conditions">Terms &amp; Conditions</a>
    </small>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
