.DiscountBanner{
	padding: 10px 20px;
    line-height: 1.2rem;
    max-height: 48px;
    cursor: pointer;
    background-color: #204041;
    color: #fff;
    font-size: 14px;
    text-align: center;
}